{% extends 'blog/base.html' %}

{% block content %}
{% load bootstrap3 %}

{% if post.photo %}
<div class="container">
    <img src="{{ post.photo.url }}" />
</div>
{% endif %}
<div class="container">
    <div class="jumbotron">
        {{ post.title }} <br/>
        {{ post.content }} <hr/>
    </div>
        <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" />
        </form>
</div>

<div class="container">
    <!-- if문 대신에 empty를 사용하는 것이 효율적일수 있다.
    {% for comment in post.comment_set.all %}
    {% empty %}
    <ul>첫번째 댓글을 작성해주세요</ul>
    {% endfor %}-->

    {% for comment in post.comment_set.all %}
        {% if comment %}
            <li>
            {{ comment.message }} by {{ comment.author }}<br/>
            작성일시 : {{ comment.created_at }}
            <a href="{% url 'blog:comment_edit' post.pk comment.pk %}">수정</a>
            </li>
        {% else %}
        <li>등록된 댓글이 없어요!</li>
        {% endif %}
    {% endfor %}



    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" />
    </form>
    <hr/>
    <a href="{% url 'blog:post_list' %}" > 글 목록으로 </a>
</div>

<div class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</div>
{% endblock %}