{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>P.rogramming</h1>
        {% filter force_escape|lower %}
            <h2>This text will be HTML-escaped, and will appear in all lowercase.</h2>
        {% endfilter %}
    </div>
</div>

<div class="container">
    {% for post in post_list %}
    <ul>
        <li>
            <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>
        </li>
    </ul>
    {% endfor %}
</div>

<div class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</div>
{% endblock %}