{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        {{ post.title }} <br/>
        {{ post.content }} <hr/>
    </div>
</div>

<div class="container">
    {% for comment in comment_list %}
        <li>
        {{ comment.message }} by {{ comment.author }}<br/>
        작성일시 : {{ comment.created_at }}
        </li>
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" />
    </form>
    <hr/>
    <a href="{% url 'blog:post_list' %}" > 글 목록으로 </a>
</div>

<div class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</div>
{% endblock %}